/*
  html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
  v1.4 2009-07-27 | Authors: Eric Meyer & Richard Clark
  html5doctor.com/html-5-reset-stylesheet/
*/
/* line 17, ../flutie/stylesheets/sass/_reset.scss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 28, ../flutie/stylesheets/sass/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 32, ../flutie/stylesheets/sass/_reset.scss */
nav ul {
  list-style: none;
}

/* line 34, ../flutie/stylesheets/sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 37, ../flutie/stylesheets/sass/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 39, ../flutie/stylesheets/sass/_reset.scss */
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 41, ../flutie/stylesheets/sass/_reset.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 43, ../flutie/stylesheets/sass/_reset.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 45, ../flutie/stylesheets/sass/_reset.scss */
del {
  text-decoration: line-through;
}

/* line 47, ../flutie/stylesheets/sass/_reset.scss */
abbr[title], dfn[title] {
  cursor: help;
}

/* tables still need cellspacing="0" in the markup */
/* line 50, ../flutie/stylesheets/sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 52, ../flutie/stylesheets/sass/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 54, ../flutie/stylesheets/sass/_reset.scss */
input, select {
  vertical-align: middle;
}

/* line 1, ../flutie/stylesheets/sass/_defaults.scss */
body {
  color: #222;
  font-size: 13px;
  font-family: "helvetica neue", arial, helvetica, "lucida grande", sans-serif;
}

/* line 7, ../flutie/stylesheets/sass/_defaults.scss */
h1, h2, h3, h4, h5, h6 {
  color: #111;
  font-family: "helvetica neue", Helvetica, arial, sans-serif;
}

/* Success, error & notice boxes for messages and errors. */
/* line 14, ../flutie/stylesheets/sass/_defaults.scss */
div.error, div.notice, div.success,
#flash_failure, #flash_success, #flash_notice {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border: 1px solid #ddd;
  margin-bottom: 1em;
  padding: 0.8em;
}

/* line 23, ../flutie/stylesheets/sass/_defaults.scss */
div.error,
#flash_failure {
  background: #FBE3E4;
  border-color: #FBC2C4;
  color: #D12F19;
}

/* line 30, ../flutie/stylesheets/sass/_defaults.scss */
div.error a,
#flash_failure a {
  color: #D12F19;
}

/* line 35, ../flutie/stylesheets/sass/_defaults.scss */
div.notice,
#flash_notice {
  background: #FFF6BF;
  border-color: #FFD324;
  color: #817134;
}

/* line 42, ../flutie/stylesheets/sass/_defaults.scss */
div.notice a,
#flash_notice a {
  color: #817134;
}

/* line 47, ../flutie/stylesheets/sass/_defaults.scss */
div.success,
#flash_success {
  background: #E6EFC2;
  border-color: #C6D880;
  color: #529214;
}

/* line 54, ../flutie/stylesheets/sass/_defaults.scss */
div.success a,
#flash_success a {
  color: #529214;
}

/* Misc classes and elements */
/* Use a .box to create a padded box inside a column.  */
/* line 60, ../flutie/stylesheets/sass/_defaults.scss */
.box {
  background: #eee;
  margin-bottom: 1.5em;
  padding: 1.5em;
}

/* Use this to create a horizontal ruler across a column. */
/* line 67, ../flutie/stylesheets/sass/_defaults.scss */
hr {
  background: #ddd;
  border: none;
  clear: both;
  color: #ddd;
  float: none;
  height: 1px;
  margin: 0 0 1.4em;
  width: 100%;
}

/* line 78, ../flutie/stylesheets/sass/_defaults.scss */
hr.space {
  background: #fff;
  color: #fff;
}

/* for image replacement */
/* line 84, ../flutie/stylesheets/sass/_defaults.scss */
.ir {
  background-repeat: no-repeat;
  direction: ltr;
  display: block;
  overflow: hidden;
  text-align: left;
  text-indent: -999em;
}

/* Hide for both screenreaders and browsers
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
/* line 95, ../flutie/stylesheets/sass/_defaults.scss */
.hidden {
  display: none;
  visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders
   www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden  */
/* line 102, ../flutie/stylesheets/sass/_defaults.scss */
.visuallyhidden {
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}

/* Hide visually and from screenreaders, but maintain layout */
/* line 109, ../flutie/stylesheets/sass/_defaults.scss */
.invisible {
  visibility: hidden;
}

/* >> The Magnificent CLEARFIX: Updated to prevent margin-collapsing on child elements << j.mp/bestclearfix */
/* line 115, ../flutie/stylesheets/sass/_defaults.scss */
.clearfix:before,
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden;
}

/* line 122, ../flutie/stylesheets/sass/_defaults.scss */
.clearfix:after {
  clear: both;
}

/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
/* line 127, ../flutie/stylesheets/sass/_defaults.scss */
.clearfix {
  zoom: 1;
}

/* line 131, ../flutie/stylesheets/sass/_defaults.scss */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

@media print {
  /* line 136, ../flutie/stylesheets/sass/_defaults.scss */
  * {
    background: transparent !important;
    color: #444 !important;
    text-shadow: none !important;
  }

  /* line 137, ../flutie/stylesheets/sass/_defaults.scss */
  a, a:visited {
    color: #444 !important;
    text-decoration: underline;
  }

  /* line 138, ../flutie/stylesheets/sass/_defaults.scss */
  a:after {
    content: " (" attr(href) ")";
  }

  /* line 139, ../flutie/stylesheets/sass/_defaults.scss */
  abbr:after {
    content: " (" attr(title) ")";
  }

  /* line 140, ../flutie/stylesheets/sass/_defaults.scss */
  .ir a:after {
    content: "";
  }

  /* Don't show links for images */
  /* line 141, ../flutie/stylesheets/sass/_defaults.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 142, ../flutie/stylesheets/sass/_defaults.scss */
  thead {
    display: table-header-group;
  }

  /* css-discuss.incutio.com/wiki/Printing_Tables */
  /* line 143, ../flutie/stylesheets/sass/_defaults.scss */
  tr, img {
    page-break-inside: avoid;
  }

  @page {
    margin: 0.5cm;
}

  /* line 145, ../flutie/stylesheets/sass/_defaults.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 146, ../flutie/stylesheets/sass/_defaults.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}

/* Headings */
/* line 2, ../flutie/stylesheets/sass/_type.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

/* line 6, ../flutie/stylesheets/sass/_type.scss */
h1 {
  font-size: 2.2em;
  line-height: 1;
  margin-bottom: 0.25em;
}

/* line 12, ../flutie/stylesheets/sass/_type.scss */
h2 {
  font-size: 1.6em;
  line-height: 1.1;
  margin-bottom: 0.25em;
}

/* line 18, ../flutie/stylesheets/sass/_type.scss */
h3 {
  font-size: 1.3em;
  line-height: 1;
  margin-bottom: 0.25em;
}

/* line 24, ../flutie/stylesheets/sass/_type.scss */
h4 {
  font-size: 1.1em;
  line-height: 1.25;
  margin-bottom: 0.25em;
}

/* line 30, ../flutie/stylesheets/sass/_type.scss */
h5 {
  font-size: 1em;
  margin-bottom: 0.25em;
}

/* line 35, ../flutie/stylesheets/sass/_type.scss */
h6 {
  font-size: 1em;
  margin-bottom: 0.25em;
}

/* Text elements */
/* line 41, ../flutie/stylesheets/sass/_type.scss */
p {
  margin-bottom: 0.5em;
}

/* line 45, ../flutie/stylesheets/sass/_type.scss */
p.last {
  margin-bottom: 0;
}

/* line 49, ../flutie/stylesheets/sass/_type.scss */
p img {
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}

/* Use this if the image is at the top of the <p>. */
/* line 56, ../flutie/stylesheets/sass/_type.scss */
p img.top {
  margin-top: 0;
}

/* line 60, ../flutie/stylesheets/sass/_type.scss */
img {
  margin: 0 0 1.5em;
}

/* line 64, ../flutie/stylesheets/sass/_type.scss */
abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

/* line 69, ../flutie/stylesheets/sass/_type.scss */
address {
  font-style: italic;
  margin-top: 1.5em;
}

/* line 74, ../flutie/stylesheets/sass/_type.scss */
del {
  color: #666;
}

/* line 78, ../flutie/stylesheets/sass/_type.scss */
a, a:link {
  color: #1a4882;
  text-decoration: underline;
}

/* line 83, ../flutie/stylesheets/sass/_type.scss */
a:visited {
  color: #1a4882;
}

/* line 87, ../flutie/stylesheets/sass/_type.scss */
a:hover {
  color: #052246;
}

/* line 92, ../flutie/stylesheets/sass/_type.scss */
a:active,
a:focus {
  color: #1a4882;
}

/* line 96, ../flutie/stylesheets/sass/_type.scss */
blockquote {
  border-left: 4px solid #d1d1d1;
  color: #666;
  font-style: italic;
  margin: 1.5em 0;
  padding-left: 1em;
}

/* line 104, ../flutie/stylesheets/sass/_type.scss */
strong {
  font-weight: bold;
}

/* line 109, ../flutie/stylesheets/sass/_type.scss */
em,
dfn {
  font-style: italic;
}

/* line 113, ../flutie/stylesheets/sass/_type.scss */
dfn {
  font-weight: bold;
}

/* line 117, ../flutie/stylesheets/sass/_type.scss */
pre, code {
  margin: 1.5em 0;
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  word-wrap: break-word;
  /* IE */
}

/* line 124, ../flutie/stylesheets/sass/_type.scss */
pre, code, tt {
  font: 1em 'andale mono', 'monotype.com', 'lucida console', monospace;
  line-height: 1.5;
}

/* line 129, ../flutie/stylesheets/sass/_type.scss */
pre.code {
  background: #000;
  color: #fff;
  padding: 20px;
}

/* line 135, ../flutie/stylesheets/sass/_type.scss */
tt {
  display: block;
  line-height: 1.5;
  margin: 1.5em 0;
}

/* Forms */
/*removes dotted outline on submit buttons when clicking in firefox */
/* line 4, ../flutie/stylesheets/sass/_forms.scss */
input[type="submit"]::-moz-focus-inner {
  border: none;
}

/* line 8, ../flutie/stylesheets/sass/_forms.scss */
form ol {
  list-style: none;
  margin: 0 0 1em 0;
}

/* line 13, ../flutie/stylesheets/sass/_forms.scss */
form ol ol {
  margin-left: 0;
}

/* line 17, ../flutie/stylesheets/sass/_forms.scss */
form ol li {
  list-style-position: outside;
  margin: 0 0 1em 0;
}

/*list-style-position fixes IE label margin bug*/
/* line 23, ../flutie/stylesheets/sass/_forms.scss */
form ol ol li {
  list-style-position: outside;
  margin: 0 0 .25em 0;
}

/* line 28, ../flutie/stylesheets/sass/_forms.scss */
form ol li.error input {
  background: #FBE3E4;
}

/* line 32, ../flutie/stylesheets/sass/_forms.scss */
p.inline-errors {
  color: #D12F19;
}

/* line 36, ../flutie/stylesheets/sass/_forms.scss */
form ol li.file {
  background: #e1e1e1;
  border: 1px solid #c8c8c8;
  padding: 10px;
}

/* line 42, ../flutie/stylesheets/sass/_forms.scss */
form abbr {
  border-bottom: 0;
}

/* line 46, ../flutie/stylesheets/sass/_forms.scss */
label {
  display: block;
}

/* line 50, ../flutie/stylesheets/sass/_forms.scss */
.required label {
  font-weight: bold;
}

/* line 55, ../flutie/stylesheets/sass/_forms.scss */
.checkbox_field label,
.radio_field label {
  font-weight: normal;
}

/* line 59, ../flutie/stylesheets/sass/_forms.scss */
a.cancel {
  color: #7d0d0d;
}

/* line 63, ../flutie/stylesheets/sass/_forms.scss */
.inline-hints {
  color: #666;
  font-size: 0.8em;
  margin-bottom: 0.25em;
}

/* Fieldsets */
/* line 70, ../flutie/stylesheets/sass/_forms.scss */
fieldset {
  background: #f1f1f1;
  border: 1px solid #e3e3e3;
  margin: 0 0 1.5em 0;
  padding: 1.5em 1.5em 1em 1.5em;
}

/* line 78, ../flutie/stylesheets/sass/_forms.scss */
fieldset fieldset,
fieldset fieldset fieldset {
  border: 0;
  padding: 0;
}

/* line 83, ../flutie/stylesheets/sass/_forms.scss */
legend {
  font-weight: bold;
}

/* line 86, ../flutie/stylesheets/sass/_forms.scss */
.ie6 legend, .ie7 legend {
  margin-left: -7px;
}

/* line 88, ../flutie/stylesheets/sass/_forms.scss */
fieldset.buttons {
  background: inherit;
  border: 0;
  padding: 0;
}

/* line 94, ../flutie/stylesheets/sass/_forms.scss */
fieldset.buttons li {
  display: inline;
}

/* line 98, ../flutie/stylesheets/sass/_forms.scss */
.radio fieldset {
  margin: 0;
  padding: 0;
}

/* Text fields */
/* line 118, ../flutie/stylesheets/sass/_forms.scss */
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="range"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  font-size: inherit;
  padding: 3px 2px;
  width: 300px;
}

/* line 123, ../flutie/stylesheets/sass/_forms.scss */
.ie6 input {
  vertical-align: text-bottom;
}

/* line 127, ../flutie/stylesheets/sass/_forms.scss */
input[disabled='disabled'] {
  background-color: #fcfcfc;
  cursor: default;
}

/* line 132, ../flutie/stylesheets/sass/_forms.scss */
input[type="checkbox"] {
  margin: 0 3px 0 0;
  position: relative;
  top: -2px;
  vertical-align: middle;
}

/* line 138, ../flutie/stylesheets/sass/_forms.scss */
.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

/* line 142, ../flutie/stylesheets/sass/_forms.scss */
input[type="radio"] {
  margin: 0 3px 0 0;
  position: relative;
  top: -2px;
  vertical-align: middle;
}

/* line 149, ../flutie/stylesheets/sass/_forms.scss */
.check_boxes label {
  display: inline;
  padding: 0;
  vertical-align: middle;
}

/* line 155, ../flutie/stylesheets/sass/_forms.scss */
.radio label {
  padding: 0;
}

/* Textareas */
/* line 160, ../flutie/stylesheets/sass/_forms.scss */
textarea {
  font-size: inherit;
  height: 200px;
  margin: 0 0.5em 0.5em 0;
  padding: 5px;
  width: 440px;
  overflow: auto;
}

/* Select fields */
/* line 170, ../flutie/stylesheets/sass/_forms.scss */
fieldset .select select {
  width: 200px;
  font-size: 0.9em;
}

/* line 175, ../flutie/stylesheets/sass/_forms.scss */
optgroup {
  margin: 0 0 .5em 0;
}

/* Date & Time */
/* line 181, ../flutie/stylesheets/sass/_forms.scss */
form ol li.date ol li,
form ol li.time ol li {
  display: inline;
}

/* line 185, ../flutie/stylesheets/sass/_forms.scss */
form ol li.datetime ol li {
  display: inline-block;
}

/* line 191, ../flutie/stylesheets/sass/_forms.scss */
form ol li.datetime select,
form ol li.date select,
form ol li.time select {
  display: inline;
  width: auto;
}

/* line 197, ../flutie/stylesheets/sass/_forms.scss */
form ol li.date label,
form ol li.time label {
  display: none;
}

/* Tables */
/* line 3, ../flutie/stylesheets/sass/_tables.scss */
table {
  margin-bottom: 2em;
  width: 100%;
}

/* line 8, ../flutie/stylesheets/sass/_tables.scss */
th {
  border-bottom: 2px solid #ccc;
  font-weight: bold;
  text-align: left;
}

/* line 14, ../flutie/stylesheets/sass/_tables.scss */
td {
  border-bottom: 1px solid #ddd;
}

/* line 18, ../flutie/stylesheets/sass/_tables.scss */
caption, th, td {
  padding: 4px 10px 4px 0;
}

/* line 22, ../flutie/stylesheets/sass/_tables.scss */
caption {
  background: #f1f1f1;
  margin-bottom: 1em;
  padding: 10px 0;
}

/* line 28, ../flutie/stylesheets/sass/_tables.scss */
tr, td, th {
  vertical-align: middle;
}

/* Use this if you use span-x classes on th/td. */
/* line 33, ../flutie/stylesheets/sass/_tables.scss */
table .last {
  padding-right: 0;
}

/* Lists */
/* line 3, ../flutie/stylesheets/sass/_lists.scss */
ul, ol {
  list-style-position: inside;
  margin-bottom: 1.5em;
}

/* line 8, ../flutie/stylesheets/sass/_lists.scss */
ul {
  list-style-type: disc;
}

/* line 12, ../flutie/stylesheets/sass/_lists.scss */
ol {
  list-style-type: decimal;
}

/* line 16, ../flutie/stylesheets/sass/_lists.scss */
dl {
  line-height: 1.4;
  margin-bottom: 1.5em;
}

/* line 21, ../flutie/stylesheets/sass/_lists.scss */
dl dt {
  font-weight: bold;
  margin-top: 0.5em;
}

/* line 26, ../flutie/stylesheets/sass/_lists.scss */
dl dd {
  margin-bottom: 0em;
}

/* line 30, ../flutie/stylesheets/sass/_lists.scss */
dd {
  margin-left: 0.5em;
}

/* line 34, ../flutie/stylesheets/sass/_lists.scss */
li {
  line-height: 1.4;
}

/* line 38, ../flutie/stylesheets/sass/_lists.scss */
ol ol, ol ul, ul ul, ul ol {
  margin-left: 1em;
}
